<h2>Login</h2>
<form action="~/Home/Login" method="post">
    Email<input type="email" name="Email" /><br />
    Password<input type="password" name="Password" /><br />
    <input type="submit" />
</form>
