<h2>Register</h2>
<p>User ID: @ViewBag.Message</p>
<form action="~/Home/Registration" method="post">
    Email<input type="email" name="Email" /><br />
    Password<input type="password" name="Password" /><br />
    <input type="submit" />
</form>
